# bot
NODE_ENV=development
BOT_ID=<discord bot id>
BOT_TOKEN=<discord bot token>
BOT_INVITE=<bot invite url>

# rest
API_URL=<crypto price api>

# db
DB_TYPE=mongodb
DB_HOST=<conneciton url>
DB_SYNC=<boolean>
DB_LOGGING=<boolean>